@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1100px;
    max-width: 1100px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    color: #2e2e2e;
    font-style: normal;
    box-shadow: #232323 2px 2px 5px;
}

.header {
    width: 1100px;
    height: 381px;
    background-image: url(files/header.png);
    background-size: cover;
}

.header__navbar ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.header__navbar li {
    padding: 35px 21px;
    color: white;
    font-size: 18px;
    font-weight: 300;
}

ul .header__nav--lessins {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 25px;
    padding: 30px 80px 30px 120px;
}

ul .header__nav--button {
    background-color: #ffffff58;
    width: 80px;
    height: 20px;
    margin: 20px 90px;
    padding: 10px;
    border-radius: 45px;
    font-family: 'Roboto';
    font-weight: 700;
    text-align: center;
    align-items: center;
    font-size: 18px;
}

.main {
    /* transform: translateY(-275px); */
    display: flex;
    flex-direction: column;
    margin-top: -275px;
}

.main__upperzone {
    display: flex;
    width: 1100px;
    gap: 60px;
}

.main__upperzone a,
a:hover,
a:visited {
    text-decoration: none;
}

.main__upperzone--left {
    margin: 35px 0px 0px 110px;
    display: flex;
    flex-flow: row wrap;
    width: 500px;
}

.main__upperzone--left h1 {
    color: #2e2e2e;
    width: 433px;
    height: 210px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 72px;
    line-height: 70px;
    letter-spacing: -0.02em;
}

.main__upperzone--left p {
    width: 430px;
    color: #4e4e4e;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 23.44px;
    letter-spacing: -2%;
    padding-top: 10px;
}

p strong {
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    letter-spacing: -2%;
}

.main__upperzone--startnow {
    background: #0E0E0EC7;
    color: white;
    width: 114px;
    height: 36px;
    border-radius: 45px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.02em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.main__upperzone--sales {
    color: #232323;
    background-color: transparent;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.02em;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__upperzone--sales img {
    height: 20px;
    margin-left: 10px;
}

.main__upperzone--right {
    width: 330px;
    align-items: flex-end;
    text-align: right;
    margin: 50px 0px 0px 0px;
}

.main__middlezone {
    height: 880px;
}

.main__middlezone--brands {
    text-align: center;
}

.main__middlezone--brandsPHONE {
    display: none;
}

.main__middlezone--blueBG {
    width: 100%;
}

.main__middlezone--blueBGPHONE {
    display: none;
}

.main__middlezone--overblue {
    /* transform: translateY(-430px); */
    margin-top: -430px;
    display: flex;
    color: #f9f9f9;
    padding: 0px 105px 0px 115px;
    justify-content: space-between;
}

.middlezone__overblue--left h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.02em;
    width: 503px;
}

.middlezone__overblue--left p {
    margin-top: 32px;
    width: 400px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.02em;
}

.middlezone__overblue--left button {
    width: 169px;
    height: 36px;
    background-color: #12D4FFC7;
    border-radius: 45px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.02em;
    margin-top: 23px;
}

.middlezone__overblue--left button img {
    filter: invert(100%);
    height: 23px;
    padding-left: 5px;
}









.main__bottomzone {
    padding: 85px 99px 0px 115px;
}

.main__bottomzone h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.02em;
    width: 800px;
    padding-bottom: 55px;
}

.main__bottomzone--table {
    display: flex;
}

.bottomzone__table--icons,
.bottomzone__table--titles,
.bottomzone__table--text {
    text-align: left;
}

.bottomzone__table--icons img {
    padding: 0px 135px 20px 0px;
}

.bottomzone__table--titles {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.02em;
    margin-right: 112px;
}

.bottomzone__table--text {
    display: flex;
    width: 100%;
    margin-top: 16px;
}

.bottomzone__table--text p {
    width: 179.8px;
    font-size: 18px;
    margin-right: 40px;
    letter-spacing: -0.02em;
    line-height: 21.1px;
}

.bottomzone__table--text span {
    color: #2FDF84;
    font-weight: 700;
    letter-spacing: -0.02em;

}















.main__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0px;
}

.main__footer h2 {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.02em;
    color: #656565;
    width: 239px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__footer--greenbox {
    width: 239px;
    height: 27px;
    background-color: #2FDF84;
    color: #656565;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    letter-spacing: -0.09em;
    font-size: small;
}

.main__footer p {
    width: 239px;
    height: 27px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #ABABAB;
    display: flex;
    align-items: center;
    justify-content: center;
}














@media (max-width:420px) {

    body {
        display: flex;
        flex-direction: column;
        width: 420px;
        margin: auto;
    }

    .header {
        width: 420px;
        height: 381px;
        background-image: url(files/header_phone.png);
        background-size: cover;
    }

    ul {
        align-items: center;
        justify-content: center;
        padding: 58px 0px;
    }

    ul .header__nav--lessins {
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        display: flex;
        align-items: center;
        letter-spacing: -0.02em;
        padding: 0px;
    }

    .header__navbar li:not(.header__nav--lessins) {
        display: none;
    }

    .main__upperzone {
        flex-direction: column;
        margin: 0px;
        height: fit-content;
        width: 100%;
        gap: 0px;
    }

    .main__upperzone--left {
        margin: 24px 0px;
        display: flex;
        flex-flow: row wrap;
        width: 420px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .main__upperzone--left h1 {
        font-weight: 900;
        font-size: 48px;
        line-height: 94%;
        letter-spacing: 0.005em;
        width: 305px;
    }


    .main__upperzone--left p {
        display: none;
    }

    .main__upperzone--right {
        width: 100%;
        text-align: center;
        margin: 50px 0px 0px 0px auto;
    }

    p strong {
        display: none;
    }

    .main__upperzone--startnow {
        display: none;
    }

    .main__upperzone--sales {
        display: none;
    }

    .main__upperzone--sales img {
        display: none;
    }






    .main__middlezone {
        height: auto;
        width: 420px;
        display: flex;
        flex-direction: column;
    }

    .main__middlezone--brands {
        display: none;
    }

    .main__middlezone--brandsPHONE {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .main__middlezone--blueBG {
        display: none;
    }

    .main__middlezone--blueBGPHONE {
        display: flex;
    }

    .main__middlezone--overblue {
        flex-direction: column;
        padding: 0px 44px 0px 47px;
        justify-content: center;
        align-items: center;
        margin-top: -700px;
    }

    .middlezone__overblue--left {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .middlezone__overblue--left h2 {
        font-size: 30px;
        line-height: 35px;
        width: 343px;
    }

    .middlezone__overblue--left p {
        margin-top: 32px;
        width: 330px;
        justify-content: left;
    }

    .middlezone__overblue--left button {
        margin-top: 46px;
    }

    .middlezone__overblue--phone {
        width: 170px;
        margin-top: 67px;
    }

    .main__bottomzone {
        padding: 67px 0px 0px 0px;
        width: 420px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }

    .main__bottomzone h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.02em;
        width: 260px;
        padding-bottom: 0px;
    }

    .main__bottomzone--table {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main__bottomzone--table> div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bottomzone__table--icons img {
        padding: 85px 0px 0px 0px;
    }

    .bottomzone__table--text 
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bottomzone__table--text p {
margin: 0px auto;
    }

    .bottomzone__table--titles
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    .bottomzone__table--titles {
        padding: 16px;
    }
























    .main__footer {
        width: 420px;
        padding: 0px;
        margin-top: 54px;
    }

    .main__footer--greenbox {
        width: 420px;
        height: 24px;
    }

    .main__footer p {
        margin-bottom: 76px;
    }





















}